* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

.game-ui {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 999;
  margin-top: 1.3rem;

  padding: 1rem 2rem;
}

canvas {
  flex: 1;
  min-height: 00;
}

.player-health {
  background-color: transparent;
  z-index: 999;
  border: 3px solid grey;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border-right: 0;
  flex: 1;
  height: 4vh;
  overflow: hidden;
}

.timer {
  background-color: rgb(60, 9, 241);
  width: 8rem;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.enemy-health {
  background-color: transparent;
  flex: 1;
  border: 3px solid grey;
  border-left: 0;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  height: 4vh;
  overflow: hidden;
}

/* health bar */

/* player */
.player-health-fill {
  display: block;
  width: 100%;
  height: 100%;

  background: #fa0707;
  /* border-radius: 0.8rem 0 0 0.8rem; */

  margin-left: auto;
}

.enemy-health-fill {
  display: block;
  width: 100%;
  height: 100%;
  background: #fa0707;
  margin-right: auto;
  /* border-radius: 0 0.8rem 0.8rem 0; */
}

.result {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  z-index: 999;
  color: bisque;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
